@font-face {
    src: url("../fonts/LCDM2B__.TTF"),
}

#clientTime, #clientTimeOverwriter, #scoreGuest, #scoreHome, #periodInfo {
    -fx-font-family: "LCDMono2";
    -fx-font-size: 48px;
    -fx-background-color: black;
}

#periodInfo {
    -fx-font-size: 16px;
}

.formTextField {
    -fx-font-color: "white"
}

#plusGoalButton {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-background-image: url("../static/handball.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}