@font-face {
    src: url("../fonts/LCDM2B__.TTF"),
}

#clientTime, #clientTimeOverwriter, #scoreGuest, #scoreHome, #periodInfo {
    -fx-font-family: "LCDMono2";
    -fx-font-size: 48px;
    -fx-background-color: black;
}

#periodInfo {
    -fx-font-size: 16px;
}

.formTextField {
    -fx-font-color: "white"
}